<h1>All Clubs</h1>

<div class="row">
  <div class="col-md-3">
<% @clubs.each do |club| %>
   <%= image_tag club.image, :class => 'thumb' %>
    <ul>
      <li>Club: <%= link_to club.team_name, club_path(club.id) %></li>
      <li>Manager: <%= club.manager %></li>
      <li>League Position: <%= club.team_rank %></li>
      <li>Stadium: <%= club.schedule %></li>
    </ul>
<% end %>
  </div>
</div>
