<div id="standings">
<table>
						<tr class="col">
							<th>#</th>
							<th>Team</th>
							<th>GP</th>
							<th>W</th>
							<th>D</th>
							<th>L</th>
							<th>GF</th>
							<th>GA</th>
							<th>GD</th>
							<th>PTS</th>
						</tr>
						<tr class="wpos">
							<td>1</td>
							<td><%= @rank1 %></td>
							<td><%= @rank1played %></td>
							<td><%= @rank1win %></td>
							<td><%= @rank1draw %></td>
							<td><%= @rank1lose %></td>
							<td><%= @rank1gf %></td>
							<td><%= @rank1ga %></td>
							<td><%= @rank1gd %></td>
							<td><%= @rank1points %></td>
						</tr>
						<tr class="wpos">
							<td>2</td>
							<td><%= @rank2 %></td>
							<td><%= @rank2played %></td>
							<td><%= @rank2win %></td>
							<td><%= @rank2draw %></td>
							<td><%= @rank2lose %></td>
							<td><%= @rank2gf %></td>
							<td><%= @rank2ga %></td>
							<td><%= @rank2gd %></td>
							<td><%= @rank2points %></td>
						</tr>
						<tr class="wpos">
							<td>3</td>
							<td><%= @rank3 %></td>
							<td><%= @rank3played %></td>
							<td><%= @rank3win %></td>
							<td><%= @rank3draw %></td>
							<td><%= @rank3lose %></td>
							<td><%= @rank3gf %></td>
							<td><%= @rank3ga %></td>
							<td><%= @rank3gd %></td>
							<td><%= @rank3points %></td>
						</tr>
						<tr class="pos">
							<td>4</td>
							<td><%= @rank4 %></td>
							<td><%= @rank4played %></td>
							<td><%= @rank4win %></td>
							<td><%= @rank4draw %></td>
							<td><%= @rank4lose %></td>
							<td><%= @rank4gf %></td>
							<td><%= @rank4ga %></td>
							<td><%= @rank4gd %></td>
							<td><%= @rank4points %></td>
						</tr>
						<tr class="pos">
							<td>5</td>
							<td><%= @rank5 %></td>
							<td><%= @rank5played %></td>
							<td><%= @rank5win %></td>
							<td><%= @rank5draw %></td>
							<td><%= @rank5lose %></td>
							<td><%= @rank5gf %></td>
							<td><%= @rank5ga %></td>
							<td><%= @rank5gd %></td>
							<td><%= @rank5points %></td>
						</tr>
						<tr class="pos">
							<td>6</td>
							<td><%= @rank6 %></td>
							<td><%= @rank6played %></td>
							<td><%= @rank6win %></td>
							<td><%= @rank6draw %></td>
							<td><%= @rank6lose %></td>
							<td><%= @rank6gf %></td>
							<td><%= @rank6ga %></td>
							<td><%= @rank6gd %></td>
							<td><%= @rank6points %></td>
						</tr>
						<tr class="pos">
							<td>7</td>
							<td><%= @rank7 %></td>
							<td><%= @rank7played %></td>
							<td><%= @rank7win %></td>
							<td><%= @rank7draw %></td>
							<td><%= @rank7lose %></td>
							<td><%= @rank7gf %></td>
							<td><%= @rank7ga %></td>
							<td><%= @rank7gd %></td>
							<td><%= @rank7points %></td>
						</tr>
						<tr class="pos">
							<td>8</td>
							<td><%= @rank8 %></td>
							<td><%= @rank8played %></td>
							<td><%= @rank8win %></td>
							<td><%= @rank8draw %></td>
							<td><%= @rank8lose %></td>
							<td><%= @rank8gf %></td>
							<td><%= @rank8ga %></td>
							<td><%= @rank8gd %></td>
							<td><%= @rank8points %></td>
						</tr>
						<tr class="pos">
							<td>9</td>
							<td><%= @rank9 %></td>
							<td><%= @rank9played %></td>
							<td><%= @rank9win %></td>
							<td><%= @rank9draw %></td>
							<td><%= @rank9lose %></td>
							<td><%= @rank9gf %></td>
							<td><%= @rank9ga %></td>
							<td><%= @rank9gd %></td>
							<td><%= @rank9points %></td>
						</tr>
						<tr class="pos">
							<td>10</td>
							<td><%= @rank10 %></td>
							<td><%= @rank10played %></td>
							<td><%= @rank10win %></td>
							<td><%= @rank10draw %></td>
							<td><%= @rank10lose %></td>
							<td><%= @rank10gf %></td>
							<td><%= @rank10ga %></td>
							<td><%= @rank10gd %></td>
							<td><%= @rank10points %></td>
						</tr>
						<tr class="pos">
							<td>11</td>
							<td><%= @rank11 %></td>
							<td><%= @rank11played %></td>
							<td><%= @rank11win %></td>
							<td><%= @rank11draw %></td>
							<td><%= @rank11lose %></td>
							<td><%= @rank11gf %></td>
							<td><%= @rank11ga %></td>
							<td><%= @rank11gd %></td>
							<td><%= @rank11points %></td>
						</tr>
						<tr class="pos">
							<td>12</td>
							<td><%= @rank12 %></td>
							<td><%= @rank12played %></td>
							<td><%= @rank12win %></td>
							<td><%= @rank12draw %></td>
							<td><%= @rank12lose %></td>
							<td><%= @rank12gf %></td>
							<td><%= @rank12ga %></td>
							<td><%= @rank12gd %></td>
							<td><%= @rank12points %></td>
						</tr>
						<tr class="pos">
							<td>13</td>
							<td><%= @rank13 %></td>
							<td><%= @rank13played %></td>
							<td><%= @rank13win %></td>
							<td><%= @rank13draw %></td>
							<td><%= @rank13lose %></td>
							<td><%= @rank13gf %></td>
							<td><%= @rank13ga %></td>
							<td><%= @rank13gd %></td>
							<td><%= @rank13points %></td>
						</tr>
						<tr class="pos">
							<td>14</td>
							<td><%= @rank14 %></td>
							<td><%= @rank14played %></td>
							<td><%= @rank14win %></td>
							<td><%= @rank14draw %></td>
							<td><%= @rank14lose %></td>
							<td><%= @rank14gf %></td>
							<td><%= @rank14ga %></td>
							<td><%= @rank14gd %></td>
							<td><%= @rank14points %></td>
						</tr>
						<tr class="pos">
							<td>15</td>
							<td><%= @rank15 %></td>
							<td><%= @rank15played %></td>
							<td><%= @rank15win %></td>
							<td><%= @rank15draw %></td>
							<td><%= @rank15lose %></td>
							<td><%= @rank15gf %></td>
							<td><%= @rank15ga %></td>
							<td><%= @rank15gd %></td>
							<td><%= @rank15points %></td>
						</tr>
						<tr class="pos">
							<td>16</td>
							<td><%= @rank16 %></td>
							<td><%= @rank16played %></td>
							<td><%= @rank16win %></td>
							<td><%= @rank16draw %></td>
							<td><%= @rank16lose %></td>
							<td><%= @rank16gf %></td>
							<td><%= @rank16ga %></td>
							<td><%= @rank16gd %></td>
							<td><%= @rank16points %></td>
						</tr>
						<tr class="pos">
							<td>17</td>
							<td><%= @rank17 %></td>
							<td><%= @rank17played %></td>
							<td><%= @rank17win %></td>
							<td><%= @rank17draw %></td>
							<td><%= @rank17lose %></td>
							<td><%= @rank17gf %></td>
							<td><%= @rank17ga %></td>
							<td><%= @rank17gd %></td>
							<td><%= @rank17points %></td>
						</tr>
						<tr class="rpos">
							<td>18</td>
							<td><%= @rank18 %></td>
							<td><%= @rank18played %></td>
							<td><%= @rank18win %></td>
							<td><%= @rank18draw %></td>
							<td><%= @rank18lose %></td>
							<td><%= @rank18gf %></td>
							<td><%= @rank18ga %></td>
							<td><%= @rank18gd %></td>
							<td><%= @rank18points %></td>
						</tr>
						<tr class="rpos">
							<td>19</td>
							<td><%= @rank19 %></td>
							<td><%= @rank19played %></td>
							<td><%= @rank19win %></td>
							<td><%= @rank19draw %></td>
							<td><%= @rank19lose %></td>
							<td><%= @rank19gf %></td>
							<td><%= @rank19ga %></td>
							<td><%= @rank19gd %></td>
							<td><%= @rank19points %></td>
						</tr>
						<tr class="rpos">
							<td>20</td>
							<td><%= @rank20 %></td>
							<td><%= @rank20played %></td>
							<td><%= @rank20win %></td>
							<td><%= @rank20draw %></td>
							<td><%= @rank20lose %></td>
							<td><%= @rank20gf %></td>
							<td><%= @rank20ga %></td>
							<td><%= @rank20gd %></td>
							<td><%= @rank20points %></td>
						</tr>

					</table>
</div>
