<h2>Premier League Top Scorers</h2>
<div id="topscorers">
<table>
  <tr class="col">
    <th>#</th>
    <th>Name</th>
    <th>Goals</th>
  </tr>
  <tr class="pos">
    <td>1</td>
    <td><%= @topscorer1 %></td>
    <td><%= @topscorer1goals %></td>
  </tr>
  <tr class="pos">
    <td>2</td>
    <td><%= @topscorer2 %></td>
    <td><%= @topscorer2goals %></td>
  </tr>
  <tr class="pos">
    <td>3</td>
    <td><%= @topscorer3 %></td>
    <td><%= @topscorer3goals %></td>
  </tr>
  <tr class="pos">
    <td>4</td>
    <td><%= @topscorer4 %></td>
    <td><%= @topscorer4goals %></td>
  </tr>
  <tr class="pos">
    <td>5</td>
    <td><%= @topscorer5 %></td>
    <td><%= @topscorer5goals %></td>
  </tr>
</table>
</div>
